
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color:#f9004d;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px  5px #0b0b0b;

}
.link{
  position: center;
  padding: 10px 25px;
  display: inline-block;
  padding-top: 25px;
  padding-right: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , sans-serif;
  box-sizing: border-box;
}
.ico{
  display: inline-block;
  padding-top: 25px;
  padding-right: 15px;
  box-sizing: border-box;
}
.link:hover{
  color: #fff;
  transition: .5s;
}
nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
/* Fin de la barre de navigation */

/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}
/* Fin du header */

/* Section principale */

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
  padding: 50px;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
  border-radius: 30%;
}
.cards .card img{
  width: 350px;
  padding: 0%;

}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}
/* Fin de toutes les cartes */

/* Fin de la section principale */

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}
.title{
  font-size: 33px;
}
span{
  color: #fff;
  font-size: 10px;
}
.newslatter form{
  width: 150px;
  position: relative;
}
.newslatter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #030303;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #0b0b0b;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px rgb(46, 46, 46);
  top: 6px;
  left: 188px;
}
